body{
    font-family: 'Chivo Mono', monospace;
    margin: 0px;
    
}
h1{
    font-size: 60px;
    font-weight: bolder;
}
h2{
    font-size: 40px;
}
.red-collor{
    color: red;
}
.half{
    width: 600px;
    float: left;
    margin-top: 18%;
    margin-left: 15%;
    
   
    /*padding: 2%;*/
}
.imge{
    width: 700px;
    float: right;
    margin-top: 10%;
    margin-right: 15%;
    
}
.imge img{
    width: 100%;
}

.button{
   text-decoration: none; 
   color: white;
   background-color: red;
   padding: 10px 10px;
   border-radius: 5px;
   font-weight: bold;
   font-size: 25px;
}
a:hover{
    font-size: 20px;
}
.top{

    background-image: url(personal-website/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 900px;
    width: 1900px;
    padding-bottom: 150px;
}

p{
    padding-bottom: 20px;
    font-weight: bolder;
   
}

.imge-mid{
    width: 700px;
    float: left;
    margin-top: 5%;
    margin-left: 10%;
}
}
.imge-mid img{
    width: 100%;
}
.text-mid{
    width: 650px;
    float: right;
    margin-top: 15%;
    margin-right: 12%; 
}
.mid{
    background-image: url(personal-website/biography-bg.png);
    background-repeat: no-repeat;
}
/*section.mid{
    height: 2000px;
    width: 1900px;
    padding-bottom: 150px;
}*/
.text{
    text-align: center;
}
.work{
    margin: 7%;

}
.i{
    width: 32%;
    /*display: inline-flex;*/
}
.Leatest-work{
    height: 700px;
    margin: 0%;
    background-image: url(personal-website/latest-work-bg.png);
    background-repeat: no-repeat;

}
h2.footer{
    padding-bottom: 70px;
    font-size: 50px;
    font-weight: bold;
}
h3{
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h4.footer{
    padding-bottom: 100px;
}
p.text{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.second{
    padding-bottom: 100px;
}
.email{
    background-color: rgb(211, 74, 118);
    color: white;
     padding-top: 5px;
    margin-left:35% ;
    margin-bottom:20% ;
    margin-right: 35%;
    padding-bottom: 5px;
    border-radius: 10px;
}

footer p{
    width: 1900px;
    text-align: center;

}*